.container {
  background:  var(--app-blue-100);
}

.bigNav {
  /*box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;*/
}

.bigNavLinks {
}

.bigNavLinks ul {
  display: flex;
  /*align-items: flex-end;*/
}

.bigNavLinks li {
  margin: 0 30px;
  cursor: pointer;
}

.bigNavLinks li * {
  font-size: 1.05rem;
  font-family: var(--app-primary-font-bold);
  font-weight: 800;
}

.bigNav button {
  font-size: 0.875rem;
}

.mobileList {
  z-index: 3000;
  animation: slideIn 0.2s linear;
}

.close {
  position: absolute;
  width: 40px;
  height: 40px;
  top:20px;
  right: 15px;
}

@keyframes slideIn{
  0% {
    width: 0px;
  }

  100% {
    width: 100%;
  }
}