.container {
  /*overflow-x: hidden;*/
}

.container h1 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 800;
  font-family: var(--app-primary-font-bold);
  color: var(--app-black-500);
}

.container h2 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 800;
  font-family: var(--app-primary-font-bold);
  color: var(--app-blue-600);
}

.container h6 {
  /*font-size: 1.25rem;*/
  line-height: 1.5rem;
  font-weight: 800;
  font-family: var(--app-primary-font-bold);
  color: var(--app-black-500);
}

.container p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.container ul, .container ol, .container li {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  list-style-type: disc;
}

.container span.sub-text {
  color: var(--app-grey-200);
}

.container .description .avatar {
  color: var(--app-white);
  background: radial-gradient(77.08% 77.08% at 15.83% 16.25%, #69CEBD 8.33%, #14B69A 34.37%, #009C82 81.77%);
  border: 1px solid var(--app-white);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .description span:nth-child(2) {
  border-left: 1px solid var(--app-gray-200);
}

.container .reference {
  background: var(--app-blue-200);
  box-shadow: 0px 4px 8px -4px rgba(22, 34, 51, 0.12), 0px 16px 20px rgba(22, 34, 51, 0.08);
  border-radius: 5px;
  max-height: 80vh;
  overflow-y: auto;
}

.container .reference h5 {
  font-family: var(--app-primary-font-bold);
  font-weight: 800;
  color: var(--app-gray-200);
}

.container .reference a {
  color: var(--app-black-500);
}

.container .reference a.top-header, .container .reference a.top-header * {
  font-family: var(--app-primary-font-bold);
  font-weight: 800;
  color: var(--app-blue-600);
}

.container .reference hr {
  background: var(--app-gray-200);
  border: var(--app-gray-200);
  height: 1px;
  border: none;
}

.container .image-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container .highlight-text {
  border-left: 7px solid var(--app-blue-600);
  border-radius: 3px;
  background: var(--app-blue-200);
}

.container .header {
  display: block;
  margin-top: 22px;
  margin-bottom: 15px;
}

@media all and (min-width: 768px) {
  .container {
    display: flex;
  }

  .container h1, .container h2 {
    font-size: 1.35rem;
    line-height: 1.5rem;
  }

  .container p {
    font-size: 1.05rem;
    line-height: 1.5rem;
  }

  .container section:first-child {
    width: 63.33%;
  }
}

@media all and (min-width: 992px) {
  .container h1, .container h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .container p {
    font-size: 1.1rem;
    line-height: 2rem;
  }
}

@media all and (min-width: 1024px) {
  .container h1, .container h2 {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }

  .container p {
    font-size: 1.15rem;
    line-height: 2.2rem;
  }
}
