/** @format */

.container * {
	font-family: var(--app-secondary-font);
	letter-spacing: 0.5px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: fit-content;
	height: 48px;
	/* min-width: 150px; */
	transition: 0.3s all ease-in-out;
	font-family: var(--app-primary-font-bold);
	font-weight: 800;
	line-height: 20px;
}

button.container:disabled {
	background-color: var(--app-gray-400);
	color: var(--app-black);
	cursor: not-allowed;
}

.container.primary {
	border-radius: var(--app-border-radius-sm);
	background-color: var(--app-orange);
	color: white;
}

.container:hover {
	box-shadow: 0px 4px 34px #2e319263;
}

.container.curved {
	border-radius: var(--app-border-radius-sm) !important;
}

.container.rounded {
	border-radius: var(--app-border-radius-md) !important;
}

.container.contained {
	color: var(--app-white);
	background-color: var(--app-blue-400);
	border-radius: var(--app-border-radius-sm);
}

.container.outlined {
	color: var(--app-blue-400);
	font-weight: 700;
	background-color: var(--app-white);
	border: 2px solid var(--app-blue-400);
}
