.container {
	position: relative;
}

.container input {
	width: 100%;
	background-color: var(--app-white);
	border-radius: var(--app-border-radius-sm);
	height: 48px;
	padding: 12px 16px;
	font-size: 0.875rem;
	/* margin-bottom: 3px; */
	/* min-height: 46px; */
}

.container input::placeholder {
	font-size: 0.875rem;
}

.container label {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #4F4A60;
}

.container label.active {
	color: var(--app-blue-400);
}

.container input:focus {
	border: 1px solid var(--app-blue-400);
}

.icon {
	position: absolute;
	left: 3%;
	bottom: 20%;
}

@media screen and (min-width: 400px) {
	/* .container input {
	} */
}

.container input:focus {
	outline: none;
}

.container.padding-right input {
	padding-right: 14%;
}

.container span {
	position: absolute;
	right: 5%;
	top: 40px;
}

.container.error input {
	border: 1px solid var(--app-red-400);
}

.error-message {
	font-weight: 400;
	margin-top: 3px;
	color: var(--app-red-400);
	font-size: 0.8rem;
}
