.container {
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--app-primary-font-bold);
}

.container.small {
    font-size: 8px;
    border-radius: 10px;
    padding: 2px 8px;
    line-height: 16px;
}

.container.medium {
    font-size: 16px;
    border-radius: 100px;
    padding: 5px 26px;
    line-height: 20px;
}

.container.primary {
    color: var(--app-blue-600);
    background: #B9E2FF;
}

.container.secondary {
    color: #360E8C;
    background: #E9DCFF;
}

.container.tertiary {
    color: #990831;
    background: #FFDAE6;
}

.container.green {
    color: #006655;
    background: #CBF7F0;
}
