.container {
  overflow-x: hidden;
}

.container h1 {
  font-size: 2rem;
  line-height: 2.4rem;
}

.container h2 {
  font-size: 1.75rem;
  line-height: 2.43rem;
}

.container h3 {
  font-size: 1.75rem;
  line-height: 2.18rem;
}

.container P {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 400;
}

@media all and (min-width: 768px) {
  .container h1 {
    font-size: 3.6rem;
    line-height: 3.6rem;
  }

  .container h2 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .container h3 {
    font-size: 2.4rem;
    line-height: 2.6rem;
  }

  .container P {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}

@media all and (min-width: 992px) {
  .container h1 {
    font-size: 3.9rem;
    line-height: 3.9rem;
  }

  .container h2 {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }

  .container h3 {
    font-size: 2.6rem;
    line-height: 2.8rem;
  }

  .container p {
    font-size: 1rem;
    line-height: 2rem;
  }
}

@media all and (min-width: 1024px) {
  .container h1 {
    font-size: 3.6rem;
    line-height: 4rem;
  }

  .container h2 {
    font-size: 3.6rem;
    line-height: 4rem;
  }

  .container h3 {
    font-size: 3rem;
    line-height: 4rem;
  }

  .container p {
    font-size: 1.75rem;
    line-height: 2.2rem;
  }
}

@media all and (max-width: 767px) {
}
