.dropdown {
	position: relative;
	padding: 12px 16px;
	border: 2px solid var(--app-black);
	color: var(--app-gray-600);
	border: 1px solid var(--app-gray-200);
	border-radius: var(--app-border-radius-sm);
	cursor: pointer;
	font-size: 0.875rem;
}

.label {
	display: inline-block;
	background-color: transparent;
	color: var(--app-gray-400);
	font-size: 12px;
	font-weight: 400;
	font-family: var(--app-tertiary-font);
	margin-bottom: 0.5rem;
}

.label.active {
	color: var(--app-blue-400);
}

.arrow {
	position: absolute;
	top: 1.3rem;
	right: 1.5rem;
	transform: scale(1.8);
}

.dropdown span:first-of-type {
	color: var(--app-gray-300);
}

.dropdown-list {
	position: absolute;
	top: 107%;
	left: -1.5px;
	right: -1.5px;
	background: var(--app-white);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	max-height: 200px;
	overflow-y: scroll;
	z-index: 20;
}

.dropdown-list::-webkit-scrollbar {
	width: 6px;
}

.featured-images-container::-webkit-scrollbar {
	height: 6px;
}

.dropdown-list::-webkit-scrollbar-track,
.featured-images-container::-webkit-scrollbar-track {
	background: var(--app-white);
}

.dropdown-list::-webkit-scrollbar-thumb,
.featured-images-container::-webkit-scrollbar-thumb {
	background: var(--app-blue-400);
}

.dropdown-list::-webkit-scrollbar-thumb:hover,
.featured-images-container::-webkit-scrollbar-thumb:hover {
	background: var(--app-blue-400);
}

.dropdown-list li {
	margin: 0.25rem 0rem;
	padding: 5px 12px;
}

.dropdown-list li:hover {
	background: var(--app-gray-200);
}
